[data-status] {
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
}

[data-status] fieldset {
    border: none;
}

[data-status] input {
    display: block;
    margin: 0 auto;
}

[data-status] .cards {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
[data-status] .cards img {
    border: 1px solid #ddd;
}


[data-status="lost"] fieldset,
[data-status="lost"] .move {
    display: none;
}

[data-status="run"] .scream,
[data-status="run"] .summary {
    display: none;
}

.scream {
    font-size: 36px;
    font-weight: bold;
}
.move,
.summary {
    white-space: pre-line;
}